@font-face {
  font-family: "Minecraft";
  src: url("/fonts/minecraft_font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Minecraft", monospace;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.inventory-wrapper {
  user-select: none;
  width: 625.8px;
  aspect-ratio: 1.06 / 1.0;
  border-radius: 50px;
  background-color: rgb(139, 139, 139);
  position: relative;
}

.inventory-root {
  position: relative;
  width: 100%;
  height: 100%;
}

.inventory-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
  pointer-events: none;
}

.slot {
  width: 64px;
  height: 64px;
  position: absolute;
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.slot-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 88.8888%;
  height: 88.8888%;
  pointer-events: none;
}

.slot.hover .slot-bg {
  background-color: rgb(192, 192, 192);
}

.slot.dragged .slot-bg {
  background-color: rgb(197, 197, 197);
}

.slot.dragged.hover .slot-bg {
  background-color: rgb(224, 224, 224);
}

.item-icon {
  width: 88.8888%;
  height: 88.8888%;
  object-fit: contain;
  image-rendering: pixelated;
  display: block;
  pointer-events: none;
  z-index: 1;
}

.item-count {
  position: absolute;
  bottom: 1.5px;
  right: 1.5px;
  color: rgb(252, 252, 252);
  font-weight: normal;
  font-size: 35.65px;
  pointer-events: none;
  z-index: 3;
  line-height: 1;
}

.item-count-shadow {
  position: absolute;
  bottom: -2.1px;
  right: -2.1px;
  color: rgb(62, 62, 62);
  font-family: "Minecraft", monospace;
  font-weight: normal;
  font-size: 35.65px;
  pointer-events: none;
  z-index: 2;
  line-height: 1;
}

.slot.overflow .item-count {
  color: rgb(252, 252, 84);
}

.slot.overflow .item-count-shadow {
  color: rgb(62, 62, 21);
}

.held-item {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.held-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

.held-item .item-icon {
  pointer-events: none;
}

.offhand .slot-bg {
  position: absolute;
  background-image: url("/slots/slot_offhand.png");
  background-color: rgb(120, 120, 120);
  position: absolute;
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position: center;
  image-rendering: pixelated;
  pointer-events: none;
}

.item-grid-container {
  height: 100%;
  display: flex;
}
.item-grid-container > div {
  height: 100%;
}
