@font-face {
  font-family: "Minecraft";
  src: url("/fonts/minecraft_font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Minecraft", monospace;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.inventory-wrapper {
  user-select: none;
  width: 80vw;
  max-width: 625.8px;
  aspect-ratio: 625.8 / 590.4; /* maintain aspect ratio */
  border-radius: 50px;
  background-color: rgb(139, 139, 139);
  position: relative;
}

.inventory-root {
  position: relative;
  width: 100%;
  height: 100%;
}

.inventory-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
  z-index: 10;
  pointer-events: none;
}

.slot {
  width: 32px;
  height: 32px;
  position: absolute;
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: center;
  z-index: 5;
  box-sizing: border-box;
}

.slot.hover {
  background-color: rgb(192, 192, 192);
}

.slot.dragged {
  background-color: rgb(197, 197, 197);
}

.slot.dragged.hover {
  background-color: rgb(224, 224, 224);
}

.item-icon {
  width: 88.88%;
  height: 88.88%;
  object-fit: contain;
  image-rendering: pixelated;
  display: block;
  pointer-events: none;
}

.item-count {
  position: absolute;
  bottom: 1.7px;
  right: 1.7px;
  color: rgb(252, 252, 252);
  font-weight: normal;
  font-size: 35.65px;
  pointer-events: none;
  line-height: 1;
  z-index: 3;
}

.item-count-shadow {
  position: absolute;
  bottom: -1.9px;
  right: -1.9px;
  color: rgb(62, 62, 62);
  font-family: "Minecraft", monospace;
  font-weight: normal;
  font-size: 35.65px;
  pointer-events: none;
  line-height: 1;
  z-index: 2;
}

.item-count.overflow {
  color: rgb(252, 252, 84)
}

.item-count-shadow.overflow {
  color: rgb(62, 62, 21)
}

.held-item {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.held-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

.held-item .item-icon {
  pointer-events: none;
}
.offhand {
  position: absolute;
  background-color: rgb(120, 120, 120);
  background-image: url("/slots/slot_offhand.png");
  background-repeat: no-repeat;
  background-size: 88.88% 88.88%;
  background-position: center;
  image-rendering: pixelated;
  pointer-events: none;
}